<app-navbar-unregistered></app-navbar-unregistered>

<div class="container">
    <div class="right-content">
        <div class="register-title">Profil korisnika</div>
        <form [formGroup]="profileForm" style="text-align: center;">
            <div class="row">
                <div class="label">Ime:</div>
                <mat-form-field appearance="outline">
                    {{user.name}}
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Prezime:</div>
                <mat-form-field appearance="outline">
                    {{user.lastname}}
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Korisničko ime:</div>
                <mat-form-field appearance="outline">
                    {{user.username}}
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">E-mail:</div>
                <mat-form-field appearance="outline">
                    {{user.email}}
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Broj telefona:</div>
                <mat-form-field appearance="outline">
                    {{user.phoneNumber}}
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Adresa:</div>
                <mat-form-field appearance="outline">
                    {{user.address}}
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Grad:</div>
                <mat-form-field appearance="outline">
                    {{user.city}}
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Država:</div>
                <mat-form-field appearance="outline">
                    {{user.state}}
                </mat-form-field>
            </div>

        </form>
        <div class="inline">
            <button class="primary-button" (click)="viewOrders()">Pregled porudžbina</button>
            <div class="space"></div>
            <button class="primary-button" (click)="changePassword()">Promeni lozinku</button>
        </div>
    </div>

    
</div>