<app-navbar-unregistered></app-navbar-unregistered>

<div class="container">
    <div class="right-content">
        <div class="register-title">Profil korisnika</div>
        <!--<form [formGroup]="addForm" style="text-align: center;">-->
            <div class="row">
                <div class="label">Ime:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Prezime:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Korisničko ime:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">E-mail:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Broj telefona:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Adresa:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Grad:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Država:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Adresa:</div>
                <mat-form-field appearance="outline">

                </mat-form-field>
            </div>

        <!--</form>-->
        <button class="primary-button" (click)="changePassword()">Promeni lozinku</button>
        <button class="primary-button" (click)="viewOrders()">Pregled porudžbina</button>
    </div>

    
</div>