<app-navbar-unregistered></app-navbar-unregistered>


<div class="container">
    <app-categories-sidebar></app-categories-sidebar>
    <div class="content">
        <div class="main-info">
            <div class="left">
                <div class="title">Ferti za kabloce</div>
                <div class="row">
                    <div class="left">Kataloski broj></div>
                    <div  class="right">4542</div>
                </div>
                <div class="row">
                    <div class="left">Kataloskisssss broj></div>
                    <div class="right">454ssssssssssdsdf2</div>
                </div>
            </div>
            <div class="right">
                <div class="stars" >
                    <mat-icon *ngFor="let number of [0,1,2,3,4]">star</mat-icon>
                </div>
                <div class="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtSnY2xRuruZ2p4GSQonTUQzaOF7hkFJAVlg&usqp=CAU">
                </div>
            </div>
        </div>
        <div class="specification">
            <div class="left">
                Specifikacija:
            </div>
            <div class="right">
                dfdsssssssssssssssssssssssssssssssssdf sssssssssssssssssd  ssssssssssss sssssssssss sssssssssssss sssssssss s dfs
            </div>
        </div>
    </div>
</div>