<app-navbar-unregistered></app-navbar-unregistered>
<div class="container">
    <div class="left">
        <div class="content">
            <div class="title">SA VAMA OD 2001. GODINE</div>
            <div class="text">Osnovani 2001. godine sa vizijom da 
                postanemo lider u trgovini elektro opremom iz domena kablovskog povezivanja. 
                Danas možemo da se pohvalimo veoma velikim asortimanom audio-video kablova,
                 kao i kablovima za kompjutere (povezivanje sa TV LCD, muzickim linijama, mobilnim telefonima, tabletima i sl.) 
                 kablovima za telefoniju, zvučničkim kablovima, koaxialnim, UTP, kablovima za alarme, strujnim kablovima. 
                 Takođe, imamo veliki izbor mernih instrumenta, alata, lemilica, antena, antenskog pribora, utikača 
                 ( 2,5mm, 3.5 mm, 6,3 mm mono i stereo, RCA više vrsta, speakona. XLR, adaptera BNC, SMA, N, mini UHF, Pl,
                  itd konektora, termoskupljajućeg bužira, plastičnih vezica, baterija i punjača za baterije, 
                  CD, CD-RW DVD, DVD-RW , torbica za CD...
            </div>
           
        </div>
    </div>
    <div class="right">
        <div class="right-content">
        Kod nas možete poručiti robu iz prodajnog programa MANIAC SOUND SYSTEM, SOMOGYI, kao i robu iz NEDIS-a i skoro svih trgovačkih kuća u Nemačkoj i da Vam to pošaljemo poštom po dogovoru ili CITY EXPRESSOM uz vašu obavezu plaćanja troškova slanja.

        <br><br>Cilj je postati glavni distributer ovog programa te ostvariti što bolju poziciju kod domaćih uvoznika i ostvariti strateškog ino-partnera u budućnosti. Naši svakodnevni napori su usmereni u nastojanju da opravdamo svoju poziciju i da je još bolje učvrstimo uvodjenjem novih proizvoda po poslednjim svetskim trendovima. Distributivni program se od samog pocetka mnogo proširio , ali i profilisao u kvalitetnu i raznovrsnu ponudu jer pokušavamo da kvalitetna ponuda bude u prvom planu naše poslovne strategije.
        <br><br>
        Obezbedjenje kvaliteta u svim sferama rada i njegovo stalno poboljšavanje, predstavlja 
          TEHNOTRONIK DOO
    </div>
    </div>
</div>
