<app-navbar-unregistered></app-navbar-unregistered>


<div class="container">
    <div class="sidebar">
        <div class="menu">
            <button class="menu-button" [routerLink]="['/edit-blog']" >Uvid u magacin
               </button>
            <button  class="menu-button"[routerLink]="['/edit-blog']">Porudžbenice
               </button>
            <button class="menu-button" [routerLink]="['/edit-blog']">Skladištenje</button>
            <button class="menu-button" [routerLink]="['/edit-blog']">Lociranje</button>
            <button class="menu-button" [routerLink]="['/edit-blog']">Buduće potrebe</button>
            <button class="menu-button" [routerLink]="['/edit-blog']">Izveštaji</button>
            <button class="menu-button" [routerLink]="['/edit-blog']">Slanje robe</button>
        </div>
    </div>

    <div class="content">
        <div class="main-info">
            <div class="left">
                

            </div>
            <div class="right">
              
               
            </div>
        </div>
        <div class="specification">
            
            <div >
            sdfdf
            </div>
        </div>
   
  
    </div>
</div>

<!--Modalni dijalozii -->
