<app-navbar-unregistered></app-navbar-unregistered>


<div class="container">
  <app-blogs-sidebar></app-blogs-sidebar>
  <div class="content">
   <div class="categories">
    <div class="left">
        <h2>Pretplaćene kategorije</h2>
        <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
              {{shoe}}
            </mat-list-option>
          </mat-selection-list>
    </div>
    <div class="right">
        <h2>Nepretplaćene kategorije</h2>
        <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
              {{shoe}}
            </mat-list-option>
          </mat-selection-list>
    </div>
   </div>

      

  
  </div>
</div>