<div class="sidebar">
    <div class="menu">
        <button class="menu-button first"  routerLinkActive="active" (click)="sendSelectedcategory(first)">{{first?.name}}
           </button>
        <button  *ngFor="let category of categories" class="menu-button"  routerLinkActive="active" (click)="sendSelectedcategory(category)"> {{category.name}}
           </button>
        <button class="menu-button last"  routerLinkActive="active"  (click)="sendSelectedcategory(last)">{{last?.name}}</button>
    </div>
</div>