<app-navbar-unregistered></app-navbar-unregistered>

<div class="container">
    <div class="right-content">
        <div class="register-title">Promena lozinke</div>
        <form [formGroup]="passwordForm" style="text-align: center;">
            <div class="row">
                <div class="label">Nova lozinka:</div>
                    <mat-form-field appearance="outline">
                        <input formControlName="newPassword" matInput>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Potvrda nove lozinke:</div>
                    <mat-form-field appearance="outline">
                        <input formControlName="passwordConfirm" matInput>
                </mat-form-field>
            </div>
        </form>
        <button class="primary-button" (click)="submitPassword()">Potvrdi lozinku</button>
    </div>

    
</div>