<div class="navbar">
    <div class="left">
        <a id="logo" href="#home">Tehnotronik</a>
        <a [routerLink]="['/sales']"  routerLinkActive="active">Akcije</a>
        <button class="button-left" mat-button [matMenuTriggerFor]="menuProizvodi">
            Proizvodi<mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menuProizvodi="matMenu">
            <button mat-menu-item (click)="gotoAllProducts()"   routerLinkActive="active">Svi proizvodi</button>
            <button mat-menu-item [routerLink]="['']"   routerLinkActive="active">Najprodavaniji proizvodi</button>
        </mat-menu>
        <button class="button-left" mat-button [matMenuTriggerFor]="menuBlogovi">
            Blogovi<mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menuBlogovi="matMenu" >
            <button mat-menu-item [routerLink]="['/all-blogs']">Svi blogovi</button>
            <button mat-menu-item [routerLink]="['/popular-blogs']">Najpopularniji blogovi</button>
            <button *ngIf="isAuthenticated" mat-menu-item [routerLink]="['/favorite-blogs']">Moji omiljeni blogovi</button>
            <button *ngIf="isAuthenticated" mat-menu-item [routerLink]="['/subscribe-blogs']">Moje pretplate</button>
        </mat-menu>
        <a [routerLink]="['/about-us']"   routerLinkActive="active">O nama </a>
        <a [routerLink]="['/contact']"   routerLinkActive="active">Kontakt </a>
    </div>
    <div class="right">
        <button class="button-icon" mat-button >
            <mat-icon>favorite</mat-icon>Omiljeno
        </button>
        <button [routerLink]="['/shopping-cart']" class="button-icon" mat-button >
            <mat-icon>shopping_cart</mat-icon>Korpa
        </button>
        <button [routerLink]="['/employed-menu']"   routerLinkActive="active" *ngIf="isAuthenticated &&  isEmployed" class="button-icon" mat-button >
            <mat-icon>menu</mat-icon>
        </button>
        <button [routerLink]="['/user-profile']"   routerLinkActive="active" *ngIf="isAuthenticated" class="button-icon" mat-button >
            <mat-icon>person</mat-icon>
        </button>
    <button class="button-icon"  *ngIf="!isAuthenticated" mat-button [matMenuTriggerFor]="menuPrijava">
        <mat-icon>exit_to_app</mat-icon>
    </button>
    <button class="button-icon"  *ngIf="isAuthenticated" mat-button [matMenuTriggerFor]="menuOdjava" >
        <mat-icon>exit_to_app</mat-icon>
    </button>
    <mat-menu #menuPrijava="matMenu">
        <button mat-menu-item [routerLink]="['/sign-in']"   routerLinkActive="active">Prijava</button>
        <button mat-menu-item [routerLink]="['/register']"   routerLinkActive="active">Registracija</button>
    </mat-menu>
    <mat-menu #menuOdjava="matMenu">
        <button mat-menu-item (click)="logOut()">Odjava</button>
    </mat-menu>
</div>
</div>