<app-navbar-unregistered></app-navbar-unregistered>

<div class="container">
    <div class="menu">
        <div class="row">
            <button class="primary-button">Dodaj proizvod</button>
            <button class="primary-button">Porudžbine</button>
        </div>
        <div class="row">
            <button class="primary-button">Dodaj blog</button>
            <button class="primary-button">Uveži blog</button>
        </div>
        <div class="row">
            <button class="primary-button">Pregled magacina</button>
           
        </div>
    </div>
</div>
