<app-navbar-unregistered></app-navbar-unregistered>

<div class="container">
    <div class="menu">
        <div class="row">
            <button class="primary-button" [routerLink]="['/add-product']">Dodaj proizvod</button>
            <button class="primary-button">Porudžbine</button>
        </div>
        <div class="row">
            <button class="primary-button"  [routerLink]="['/add-blog']">Dodaj blog</button>
            <button class="primary-button">Uveži blog</button>
        </div>
        <div class="row">
            <button class="primary-button"  [routerLink]="['/storage-view']">Pregled magacina</button>
           
        </div>
    </div>
</div>
