@use '../../../base-style' as base;

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;


}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  height: 100vh;
  padding: 30px;
  width: 100%;
  align-items: center;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 60%;
}

.right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}


.products {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  width: 80%;
}

.search .mat-form-field {
  width: 100%;
}

.search .mat-icon:hover {
  cursor: pointer;
}

.editqr:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.editqr {
  padding: 8px;
  position: absolute;
  top: -10px;
  right: -10px;
  background: base.$danger;
  color: white;
  margin: auto;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.action {
  margin-top: 5px;
  ;
  font-size: 16px;
  color: base.$dark-grey;
  font-weight: 600;
  color: base.$danger;
}

.rest-card {
  border-radius: 0;
  width: 200px;
  border: 3px solid base.$primary-color;
  border-radius: base.$border-radius;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.rest-card:hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border: 3px solid base.$primary-color;
  opacity: 0.7;
  cursor: pointer;
  box-shadow: base.$box-shadow;
}

.primary-button{
  @extend %primary-button;
  display: flex;
  align-items: center;
  gap:5px;
  padding:10px 10px;
  width: 1005;
}

.rest-card img {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  width: 230px;
  height: 230px;
}

.rest-card img:hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.name-div {
  font-size: 18px;
  color: base.$dark-grey;
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  margin-top: 5px;
  font-size: 16px;
  color: base.$dark-grey;
  font-weight: 600;
}

.price-cross {
  margin-top: 5px;
  font-size: 16px;
  color: base.$dark-grey;
  font-weight: 600;
  text-decoration: line-through;
}

.icons {
  display: flex;
  gap: 5px;
  font-size: 18px;
  color: red
}

.available {
  color: base.$success
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  align-self: flex-end;
}

.dialog-title {
  display: flex;
  justify-content: center;
  text-align: center;
}


.yes-button {
  background-color: base.$primary-color-dark;
  color: white;
}

.dialog-actions {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.dialog {
  width: 600px;
}

.filter-button {
  @extend %primary-button;
  background-color: base.$medium-grey-letters;
  padding: 5px 10px;
  height: 50%;
  margin-top: 10px
}

.restore-button {
  @extend %primary-button;
  background-color: base.$medium-grey-letters;
  ;
  padding: 5px 10px;
  height: 50%;
  margin-top: 10px;
  margin-left: -10px
}

.filter-button:hover {
  @extend %primary-button-hover;
}

.restore-button:hover {
  @extend %primary-button-hover;
  background-color: base.$danger;
}

.primary-button {
  @extend %primary-button;
  width: 150px;
}

.primary-button:hover {
  @extend %primary-button-hover;
}

.dialog-form .mat-form-field {
  width: 100%;
}

.dialog-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}


.tab-content {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post {
  border-radius: base.$border-radius;
  border: 3px solid base.$primary-color;
  background-color: white;
  padding: 10px;
}
.post:hover{
  cursor:pointer;
  box-shadow: base.$box-shadow;
}

.head {
  display: grid;
  grid-template-columns: 17fr 2fr;
}

.head .image {
  grid-column: 1;
}

.info {
  grid-column: 1;
  display: flex;
  flex-direction: column;

}

.image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.new-comment-image {
  display: flex;
  align-items: center;
}

.new-comment-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reactions {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.reaction-button,.like-button,.dislike-button,.comment-button,.favorite-button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border:2px solid base.$primary-color;
  display: flex;
  color: base.$primary-color-dark;
  align-items: center;
  gap: 5px;
}
.favorite{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}

.reaction-button:hover,.like-button:hover,.dislike-button:hover,.comment-button:hover,.favorite-button :hover{
  box-shadow: base.$box-shadow;
  cursor: pointer;
}
.like-button {
  background-color: base.$success;
  border: 2px solid base.$success;
  color: white;
}

.dislike-button {
  background-color: base.$danger;
  border: 2px solid base.$danger;
  color: white;
}
.favorite-button {
  background-color: rgb(255, 102, 145);
  border: 2px solid rgb(255, 102, 145);
  color: white;
}


.comment-button {
  background-color: base.$medium-grey-letters;
  border: 2px solid base.$medium-grey-letters;
  color: white;
}

.comments {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mat-h2 {
  font-weight: 500;
  color: base.$dark-grey;
  margin-bottom: 0
}

.mat-body-1 {
  margin-top: 5px;
  ;
}

.stars {
  color: rgb(240, 215, 53)
}