<app-navbar-unregistered></app-navbar-unregistered>


<div class="container">
    <app-blogs-sidebar></app-blogs-sidebar>

    <div class="content">
        <div class="main-info">
            <div class="left">
                <div class="buttons" *ngIf="isEmployed">
                    <button class="edit-button" [routerLink]="['/edit-blog']">
                        <mat-icon>edit</mat-icon>Izmeni
                    </button>
                    <button class="edit-button" (click)="deleteBlog()">
                        <mat-icon> delete</mat-icon>Izbriši
                    </button>
                    <button class="edit-button" (click)="linkProduct()">
                        <mat-icon> link</mat-icon>Uveži sa proizvodom
                    </button>
                </div>
                <div class="info">
                    <div class="name">{{selectedBlog.name}}</div>
                    <div>{{selectedBlog.dateOfPublishing | date:'mediumDate'}}</div>
                </div>


            </div>
            <div class="right">
                <div class="stars">
                 
                   <div>({{selectedBlog.numberOfRates}}) </div><mat-icon *ngFor="let number of rates">star</mat-icon>
                    <button class="star-button" (click)="openAddRateDialog( $event)"><mat-icon>add</mat-icon></button>
                </div>
                <div class="reactions">
                    <button class="reaction-button" >
                        {{selectedBlog.likes.length}} <mat-icon>thumb_up</mat-icon>
                      </button>
                      <button class="reaction-button">
                        {{selectedBlog.dislikes.length}}<mat-icon>thumb_down</mat-icon>
                      </button>
                </div>

               
            </div>
        </div>
        <div class="specification">
            
            <div >
                {{selectedBlog.text}}
            </div>
        </div>
        <div class="comments">
            <div class="bold">Komentari:  <button class="star-button" *ngIf="isAuthenticated" (click)="openAddCommentDialog( $event)"><mat-icon>add</mat-icon></button>
            </div>
            <br>
            <div class="comment" *ngFor="let comment of allComments">
                <div class="comment-row">
                    <div class="bold">{{comment.userFirstName}} {{comment.userLastName}}</div>
                </div>
                <div class="comment-row">
                    <div>{{comment.text}}</div>
                </div>

            </div>
        </div>
        <div class="comments1" *ngIf="linkedProduct!=null">
            <div class="bold">Uvezani proizvodi: 
            </div>
            <br>
            <mat-card class="rest-card" (click)="goToProductDetails(linkedProduct)">
               
                <img mat-card-image  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9oj262QwzNs3bfHzwet9eOiEfyDNUp3XL_w&usqp=CAU" />
          
            <mat-card-content class="card-content"> 
                   
                <div class="name-div">{{linkedProduct.name | uppercase}}</div>
                <div class="row">
                    <div class="price"  *ngIf="linkedProduct.newPrice==undefined">{{linkedProduct.price}} din</div>
                    <div class="icons">
                        <mat-icon class="available" *ngIf="linkedProduct.isAvailable">lens</mat-icon>
                        <mat-icon class="not-available"  *ngIf="!linkedProduct.isAvailable">lens</mat-icon>
                    </div>
                </div>
               
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>

<!--Modalni dijalozii -->

<ng-template #addComment let-mydata class="dialog">
    <div mat-dialog-content class="dialog-content">
        <h2>Dodavanje komentara</h2>
        <form [formGroup]="addCommentForm" class="dialog-form">
            <div class="row1">
                <div>Komentar</div>
                <mat-form-field appearance="outline">
                    <textarea formControlName="text" matInput></textarea>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" class="yes-button" (click)="addc()">Dodaj</button>
        <button mat-raised-button mat-dialog-close raised class="cancel-button"> Zatvori</button>
    </div>
</ng-template>

<ng-template #addRate let-mydata class="dialog">
    <div mat-dialog-content class="dialog-content">
        <h2>Dodavanje ocene</h2>
        <form [formGroup]="addRateForm" class="dialog-form">
            <div class="row1">
                <div>Ocena</div>
                <mat-form-field appearance="outline">
                    <input type="number" min="1" max="5" formControlName="rate" matInput>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button color="primary" class="yes-button" (click)="addr()">Dodaj</button>
        <button mat-raised-button mat-dialog-close raised class="cancel-button"> Zatvori</button>
    </div>
</ng-template>