<app-navbar-unregistered></app-navbar-unregistered>

<div class="container">
    <div class="right-content">
        <div class="register-title">Dodavanje novog proizvoda</div>
        <form [formGroup]="addForm" style="text-align: center;">
            <div class="row">
                <div class="label">Naziv:</div>
                <mat-form-field appearance="outline">
                    <input formControlName="name" matInput>
                   
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Kategorija:</div>
                <mat-form-field appearance="outline">
                    <mat-select [formControl]="category">
                        <mat-select-trigger>
                            {{category.value ? category.value : ''}}
                        </mat-select-trigger>
                        <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Cena:</div>
                <mat-form-field appearance="outline">
                    <input formControlName="password" matInput>
                    </mat-form-field>
                </div>
            <div class="row">
                <div class="label">Proizvođač:</div>
                <mat-form-field appearance="outline">
                    <input formControlName="password" matInput>
                  </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Kratak opis:</div>
                <mat-form-field appearance="outline">
                    <textarea formControlName="password" matInput></textarea>
                   </mat-form-field>
            </div>
            <div class="row">
                <div class="label">Specifikacija:</div>
                <mat-form-field appearance="outline">
                    <textarea formControlName="password" matInput></textarea>
                  </mat-form-field>
            </div>

        </form>
        <button class="primary-button" (click)="addProduct()">Dodaj</button>
    </div>

</div>