<app-navbar-unregistered></app-navbar-unregistered>
<div class="container">
   <div class="content">
        <div class="title">KONTAKT</div>
        <div class="subtitle">Telefoni</div>
        <div class="text">
            021/6541-062
            <br>
021/6746-998<br>
021/6746-997
        </div>
        <div class="subtitle">Adresa</div>
        <div class="text">Braće Ribnikar 5,
            21000 Novi Sad,
            Srbija</div>
            <div class="subtitle">Email adresa</div> 
            <div class="text">tehnotronik.ns@gmail.com</div>
   </div>
</div>
