<app-navbar-unregistered></app-navbar-unregistered>


<div class="container">
    <div class="sidebar">
        <div class="menu">
            <button class="menu-button" routerLinkActive="active" [routerLink]="['/storage-view']" >Uvid u magacin
               </button>
            <button  class="menu-button"  routerLinkActive="active"[routerLink]="['/order-views']">Porudžbenice
               </button>
            <button class="menu-button"  routerLinkActive="active" [routerLink]="['/edit-blog']">Skladištenje</button>
            <button class="menu-button"  routerLinkActive="active" [routerLink]="['/location']">Lociranje</button>
            <button class="menu-button"  routerLinkActive="active" [routerLink]="['/recommended']">Buduće potrebe</button>
            <button class="menu-button"  routerLinkActive="active" [routerLink]="['/edit-blog']">Slanje robe</button>
        </div>
       <!-- <button class="primary-button" [routerLink]="['/edit-blog']">Kreiraj porudžbenicu</button>-->
    </div>

    <div class="content">
       
        <div class="specification">
            <mat-form-field class="cat" appearance="outline">
                <mat-label>Sortiranje</mat-label>
                <mat-select [(value)]="selectedView" >
                    <mat-option *ngFor="let view of views" [value]="view" (click)="sort()">{{view}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="label">Uvid u porudžbenice:</div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

               
                <ng-container matColumnDef="product">
                  <th mat-header-cell *matHeaderCellDef>Ima proizvoda</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
               
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Lokacija </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                  </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Kolicina</th>
                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>
                <ng-container matColumnDef="deliveryTime">
                    <th mat-header-cell *matHeaderCellDef> Kolicina</th>
                    <td mat-cell *matCellDef="let element"> {{element.deliveryDate}} </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
        </div>
   
  
    </div>
</div>

<!--Modalni dijalozii -->
