<app-navbar-unregistered></app-navbar-unregistered>


<div class="container">
    <app-categories-sidebar></app-categories-sidebar>
    <div class="content">
        <div class="filters">
            <div class="left">
                <mat-form-field appearance="outline">
                    <mat-label>Sortiranje</mat-label>
                    <mat-select [formControl]="sort">
                        <mat-select-trigger>
                            {{sort.value ? sort.value[0] : ''}}
                            <span *ngIf="sort.value?.length > 1" class="example-additional-selection">
                                (+{{sort.value.length - 1}} {{sort.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let sort of sortList" [value]="sort">{{sort}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">

                    <mat-label>Dostupnost</mat-label>
                    <mat-select [formControl]="industry">
                        <mat-select-trigger>
                            {{industry.value ? industry.value[0] : ''}}
                            <span *ngIf="industry.value?.length > 1" class="example-additional-selection">
                                (+{{industry.value.length - 1}} {{industry.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let industry of industryList" [value]="industry">{{industry}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Cena</mat-label>
                    <mat-select [formControl]="age">
                        <mat-select-trigger>
                            {{age.value ? age.value[0] : ''}}
                            <span *ngIf="age.value?.length > 1" class="example-additional-selection">
                                (+{{age.value.length - 1}} {{age.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let age of ageList" [value]="age">{{age}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="right">
                <form [formGroup]="searchForm" class="search">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Search" formControlName="name">
                        <mat-icon matSuffix (click)="sarchByName()">search</mat-icon>
                    </mat-form-field>
                </form>
            </div>

        </div>
        <div class="products">
            <mat-card class="rest-card" *ngFor="let item of allProducts">
                <img mat-card-image  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9oj262QwzNs3bfHzwet9eOiEfyDNUp3XL_w&usqp=CAU" />
                    
                <mat-card-content class="card-content">  
                    <div class="name-div">{{item.name}}</div>
                    <div class="row">
                        <div class="price">{{item.price}} din</div>
                        <div class="icons">
                            <mat-icon class="available" *ngIf="item.isAvailable">lens</mat-icon>
                            <mat-icon class="not-available"  *ngIf="!item.isAvailable">lens</mat-icon>
                            
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
          
        </div>
    </div>
</div>