
<app-navbar-unregistered></app-navbar-unregistered>


<div class="container">
    <app-categories-sidebar></app-categories-sidebar>
    <div class="content">
        <div class="filters">
            <mat-form-field appearance="outline">
                <mat-label>Sortiranje</mat-label>
                <mat-select [formControl]="sort" >
                  <mat-select-trigger>
                    {{sort.value ? sort.value[0] : ''}}
                    <span *ngIf="sort.value?.length > 1" class="example-additional-selection">
                      (+{{sort.value.length - 1}} {{sort.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let sort of sortList" [value]="sort">{{sort}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">

                <mat-label>Dostupnost</mat-label>
                <mat-select [formControl]="industry">
                    <mat-select-trigger>
                        {{industry.value ? industry.value[0] : ''}}
                        <span *ngIf="industry.value?.length > 1" class="example-additional-selection">
                          (+{{industry.value.length - 1}} {{industry.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let industry of industryList" [value]="industry">{{industry}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cena</mat-label>
                <mat-select [formControl]="age" >
                  <mat-select-trigger>
              {{age.value ? age.value[0] : ''}}
              <span *ngIf="age.value?.length > 1" class="example-additional-selection">
                (+{{age.value.length - 1}} {{age.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let age of ageList" [value]="age">{{age}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="products">
sdd
        </div>
    </div>
</div>
